.sirius-search {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 100;
  background-color: #f3f2f1;
  box-shadow: 0 5px 5px #b1b4b6;
}

.sirius-search__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.sirius-search__item {
  padding: 0.625rem 0.875rem;
  background-color: white;
}

.sirius-search__item + .sirius-search__item,
.sirius-search__item--summary {
  margin-top: 0.5rem;
}

.sirius-search__link {
  margin: 0.5rem 0;
  font-size: 1rem;
}

.sirius-search .govuk-summary-list,
.sirius-seach .govuk-body,
.sirius-seach .govuk-link {
  font-size: 1rem;
}

.sirius-search--colour-text-blue {
  color: #1d70b8
}

.sirius-search__link--view-all {
  float: right;
}

.app-govuk-tag {
  display: inline-flex;
  padding: 2px 4px 1px 4px;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  gap: 10px;
  font-size: 0.9rem;
  color: #0b0c0c;
}

.govuk-tag--grass-green {
  background: #85994b;
}
.govuk-tag--brown {
  background: #b58840;
}